# Apps API: used by Simon/Demo apps
# OLD prod
#APPS_API_URL=https://apps-api.prod.kontakt.io
# NEW prod
APPS_API_URL=https://apps.cloud.us.kontakt.io

APPS_API_KEY=pQFmpghxlseJYnfHEcPCeLVDGQmGgxcE

########################################################################################
# IM/Web/Cloud API host: used by Panel
IM_API_URL=https://api.kontakt.io

########################################################################################
# Apps API database connection parameters. You only need one database, but
# you can comment out unneeded connections for convenience.

# Apps API database: prod
# kubectl port-forward -n prod --context prod svc/postgresql-apps 5435:5432
APPS_DB_HOST=localhost
APPS_DB_PORT=5435
APPS_DB_DATABASE=apps
APPS_DB_USER=secret
APPS_DB_PASSWORD=secret

# Apps API database: accept
# kubectl port-forward -n accept --context test svc/postgresql-apps 5434:5432
#APPS_DB_HOST=localhost
#APPS_DB_PORT=5434
#APPS_DB_DATABASE=apps
#APPS_DB_USER=secret
#APPS_DB_PASSWORD=secret

# Apps API database: test
# kubectl port-forward -n test --context test svc/postgresql-apps 5433:5432
#APPS_DB_HOST=localhost
#APPS_DB_PORT=5433
#APPS_DB_DATABASE=apps
#APPS_DB_USER=secret
#APPS_DB_PASSWORD=secret

########################################################################################
# IM API database connection parameters. You only need one database, but
# you can comment out unneeded connections for convenience.

# IM API database: prod
IM_DB_HOST=api-prod.cabqljlz3v1e.eu-west-1.rds.amazonaws.com
IM_DB_PORT=5432
IM_DB_DATABASE=kontakt-content
IM_DB_USER=secret
IM_DB_PASSWORD=secret

# IM API database: test
#IM_DB_HOST=kontakt-dev-dbs.cszkeoe8npln.us-east-1.rds.amazonaws.com
#IM_DB_PORT=5432
#IM_DB_DATABASE=apitest
#IM_DB_USER=secret
#IM_DB_PASSWORD=secret

# IM API database: partners accept
#IM_DB_HOST=test-partners-im-platform-rds.cjop7chcnqer.us-west-2.rds.amazonaws.com
#IM_DB_PORT=5432
#IM_DB_DATABASE=accept-partners-im-api
#IM_DB_USER=secret
#IM_DB_PASSWORD=secret

# IM API database: partners prod
#IM_DB_HOST=prod-partners-im-platform-rds.cjop7chcnqer.us-west-2.rds.amazonaws.com
#IM_DB_PORT=5432
#IM_DB_DATABASE=prod-partners-im-api
#IM_DB_USER=secret
#IM_DB_PASSWORD=secret

########################################################################################
# Panel API database connection parameters. You only need one database, but
# you can comment out unneeded connections for convenience.

# Panel API database: prod
PANEL_DB_HOST=ofm-prod.cabqljlz3v1e.eu-west-1.rds.amazonaws.com
PANEL_DB_PORT=5432
PANEL_DB_DATABASE=kontakt-panel-prod
PANEL_DB_USER=secret
PANEL_DB_PASSWORD=secret

########################################################################################
# RS256 private key for JWT tokens
# -----BEGIN RSA PRIVATE KEY-----
# MIICeAIBADANB2TkQ80... one line or multiline
# -----END RSA PRIVATE KEY-----
PRIVATE_KEY=/home/user/jwt.key
